### Настройка и отображение температуры MB
[temperature_fan board_fan]
pin:U_1:PC4
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.01
off_below: 0
sensor_type: temperature_host
control: pid
pid_deriv_time: 2.0
pid_Kp: 5
pid_Ki: 2
pid_Kd: 5
target_temp: 60
min_speed: 0.3
max_speed: 1.0
min_temp: 0
max_temp: 100

# Ручное выравнивание стола с помощью датчика.
[screws_tilt_adjust]
screw1:250,250
screw1_name: Central
screw2:0,20
screw2_name: Front left
screw3: 260,20
screw3_name: Front right
screw4: 260,280
screw4_name: Back right
screw5: 0,280
screw5_name: Back left
screw_thread: CW-M4
 
# Добавляем макрос
[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _SCREWS_TILT_CALCULATE_BASE
gcode:
    { action_respond_info("starting screw rotation calculation...") }
    M141 S0
    M4031
    G28
    _SCREWS_TILT_CALCULATE_BASE

#Улучшения автоматического выравнивания стола и снятия карты
[stepper_z]
microsteps: 16 ### Original 128
 
[stepper_z1]
microsteps: 16 ### Original 128
 
[tmc2209 stepper_z]
interpolate: False ### Original True
 
[tmc2209 stepper_z1]
interpolate: False ### Original True

# Настройки Smart Effector
#[smart_effector]
#speed:5
#samples: 1
#sample_retract_dist: 10
#samples_tolerance: 0.013

[smart_effector]
pin:U_1:PC1
recovery_time:0
x_offset: 25
y_offset: 1.3
z_offset: 0.000001
speed:5
lift_speed:5
probe_accel:50
samples: 2
samples_result: submaxmin
sample_retract_dist: 5
samples_tolerance: 0.03
samples_tolerance_retries:5

# Настройки конфигурации сетки стола
[bed_mesh]
horizontal_move_z:10
probe_count:10,10
bicubic_tension:0.3

### Показания температуры сенсоров головы и датчика нагрева камеры
[temperature_sensor chamber_probe]
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1:PA1
 
[heater_generic chamber]
heater_pin:U_1:PC8
max_power:0.5 # Original 0.7 or 0.4 depending on firmware version
control = pid
pid_Kp=63.418
pid_Ki=1.342
pid_Kd=749.125
min_temp:-100
max_temp:80
sensor_type: temperature_combined
sensor_list: temperature_sensor GD32, temperature_sensor GD32, temperature_sensor GD32, temperature_sensor chamber_probe
combination_method: mean
maximum_deviation: 70
target_min_temp:0
target_max_temp:65
heat_with_heater_bed:True
heat_with_heater_bed_tem_add:25

[z_tilt]
z_positions:
    -60, 152.5    # Фізичне розташування лівого гвинта Z
    365, 152.5    # Фізичне розташування правого гвинта Z
points:
    50, 152.5     # Зсунули сопло вправо, щоб датчик точно опинився над столом
    270, 152.5    # Зсунули сопло вліво для безпеки правого краю
speed: 150
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.03

#  ВМИКАЄМО серсор  QUERY_RAW_FILAMENT_WIDTH
[hall_filament_width_sensor]
cal_dia1: 0.3                 # Діаметр порожнього датчика за паспортом
raw_dia1: 11502               # !!! Твоє сире значення БЕЗ нитки
cal_dia2: 1.75                # Твій еталонний філамент
raw_dia2: 13900               # !!! Твоє сире значення З ниткою 1.75 мм для більших показань зменшуємо old 13952-14430
default_nominal_filament_diameter: 1.75
max_difference: 0.15          # !!! ЗМІНИЛИ З 0 НА 0.15
measurement_delay: 50
#Buffer_size: 15
enable: true                               #kotoff

# 2. Размер буфера для усреднения показаний. 
# Увеличение до 15-20 уберет "шум" от вибраций головы при заполнении (Infill) и резких сменах направлений.
#Buffer_size: 15

# 4. Диаметр по умолчанию, если датчик временно отключен или пуст
#Nominal_filament_diameter: 1.75

# 5. Пределы срабатывания датчика (защита от ложных показаний)
# Если датчик намеряет меньше 1.0мм, Klipper поймет, что пластик кончился (Runout)
#Min_diameter: 1.0
# Если датчик намеряет больше 1.9мм (например, прыгнул сильный шум), Klipper проигнорирует это значение
#Max_diameter: 1.9

# 6. Допустимое отклонение от номинала (в мм), при котором еще работает автоподстройка
#Max_diameter_percentage: 10


# ДЛЯ ІНФОРМАЦІЇ: Додаємо кнопку-макрос під датчиком
[gcode_macro CHECK_FILAMENT]
gcode:
    QUERY_FILAMENT_WIDTH

# 1. Створюємо макрос, який буде зберігати в собі товщину нитки як змінну
[gcode_macro FILAMENT_MONITOR]
description: Показує живий діаметр нитки прямо з датчика в консоль
gcode:
    # Зчитуємо актуальне значення безпосередньо в момент натискання кнопки
    {% set live_dia = printer.hall_filament_width_sensor.Diameter|float %}
    
    # Виводимо його в консоль (з округленням до 2 знаків)
    { action_respond_info("Поточний діаметр нитки: %.2f мм" % live_dia) }


# 2. Таймер, який кожні 5 секунд оновлює значення всередині макросу
#[delayed_gcode update_filament_value]
#initial_duration: 30.0
#gcode:
    # Беремо реальний діаметр з датчика Холла
#    {% set current_dia = printer.hall_filament_width_sensor.Diameter|float %}
    
    # Записуємо його у змінну нашого макросу FILAMENT_MONITOR
#    SET_GCODE_VARIABLE MACRO=FILAMENT_MONITOR VARIABLE=width VALUE={current_dia}
    
    # Повторюємо процедуру через 5 секунд
#    UPDATE_DELAYED_GCODE ID=update_filament_value DURATION=30.0



#[include K-ShakeTune/*.cfg]
[shaketune]
#timeout: 1200

#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.

[gcode_macro COMPARE_BELTS_RESPONSES]
description: Тестування та порівняння натягу ременів CoreXY
gcode:
    # Очищаємо старі файли перед тестом, щоб не було каші
    RUN_SHELL_COMMAND CMD=shaketune_clear_tmp
    
    RESPOND MSG="Запуск тестування ременя А (напрямок 1)..."
    TEST_RESONANCES AXIS=1,1 OUTPUT=raw_data NAME=belt_a
    
    RESPOND MSG="Запуск тестування ременя В (напрямок 2)..."
    TEST_RESONANCES AXIS=1,-1 OUTPUT=raw_data NAME=belt_b
    
    RESPOND MSG="Обробка результатів та генерація графіків..."
    RUN_SHELL_COMMAND CMD=shaketune_generate_belts

[gcode_shell_command shaketune_clear_tmp]
command: rm -f /tmp/raw_data_*.csv /tmp/resonances_*.csv
timeout: 5.0

[gcode_shell_command shaketune_generate_belts]
command: bash -c "/home/mks/klippy-env/bin/python /home/mks/klipper/scripts/graph_accelerometer.py /tmp/raw_data_axis*.csv -o /home/mks/printer_data/config/ShakeTune_results/belts_compare.png && rm -f /tmp/raw_data_axis*.csv"
timeout: 300.0
verbose: True

[gcode_macro AXES_SHAPER_CALIBRATION]
description: Калібрування Input Shaper для осей X та Y з генерацією графіків
gcode:
    # Попереднє очищення старих файлів у /tmp
    RUN_SHELL_COMMAND CMD=shaketune_clear_tmp
    
    RESPOND MSG="Вимірювання резонансів по осі X..."
    SHAPER_CALIBRATE AXIS=X
    
    RESPOND MSG="Вимірювання резонансів по осі Y..."
    SHAPER_CALIBRATE AXIS=Y
    
    RESPOND MSG="Генерація графіків рекомендацій для шейперів..."
    RUN_SHELL_COMMAND CMD=shaketune_generate_shaper

[gcode_shell_command shaketune_generate_shaper]
command: bash -c "/home/mks/klippy-env/bin/python /home/mks/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o /home/mks/printer_data/config/ShakeTune_results/shaper_calibrate_x.png && /home/mks/klippy-env/bin/python /home/mks/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o /home/mks/printer_data/config/ShakeTune_results/shaper_calibrate_y.png && rm -f /tmp/calibration_data_*.csv"
timeout: 300.0
verbose: True

[delayed_gcode check_chamber_temp]
initial_duration: 1.0
gcode:
  # Зчитуємо температуру саме з вашого датчика захисту камери
  {% set current_temp = printer["temperature_sensor Chamber_Thermal_Protection_Sensor"].temperature %}
  
  {% if current_temp > 45.7 %}
    # Виводимо текст на екран принтера та у консоль Fluidd
    M117 WARNING: Chamber Overheat (>45C)!
    # Подаємо звуковий сигнал (частота 1000 Гц, тривалість 500 мс)
    M300 S1000 P500 
  {% endif %}
  
  # Повторюємо перевірку кожну 1 секунду
  UPDATE_DELAYED_GCODE ID=check_chamber_temp DURATION=1.0


[gcode_macro AUTO_CLEAN_PETG_WITH_PA]
gcode:
    # Оптимальні параметри для висмикування Нейлону, забитого липким PETG
    {% set HOT_TEMP = params.HOT_TEMP|default(280)|int %}   # Температура для повного змішування PA та залишків PETG
    {% set COLD_TEMP = params.COLD_TEMP|default(180)|int %} # Температура "напіврезини" для Нейлону (почніть з 140°C)
    
    M117 Heating to 280C...
    G90                                 # Абсолютні координати
    G28                                 # Хомінг (якщо принтер не захомлений)
    G1 Z120 F1500                       # Піднімаємо голову для зручного доступу
    G1 X140 Y140 F6000                  # Зсуваємо голову в центр
    
    # 1. Розігрів для повного розплавлення PETG
    M104 S{HOT_TEMP}
    M109 S{HOT_TEMP}
    
    # 2. Продавлювання Нейлону (витісняємо рідкий PETG)
    M117 Pushing PA Nylon...
    G91                                 # Відносні координати
    M83                                 # Відносна екструзія
    #G1 E35 F120                         # Повільно проштовхуємо 35 мм нейлону
    G1 E85 F120                        # Проталкиваем 120 мм нейлона (длится 60 секунд)
    
    # Пауза перед охлаждением (пластик успевает выйти из сопла и снять напряжение)
    M117 Holding temperature...
    G4 P2000                           # Пауза 10 000 миллисекунд (10 секунд)

    # 3. Охолодження до точки кристалізації PA
    M117 Cooling to pull temp...
    M104 S{COLD_TEMP}
    M109 S{COLD_TEMP}                   # Чекаємо стабілізації на 140°C
    
    # 4. Швидкий автоматичний ретракт мотором QIDI
    M117 Pulling out plug!
    G1 E-95 F3600                       # Максимально різкий ривок на 95 мм вгору (швидкість 60 мм/с)
    
    # 5. Завершення процедури
    M400                                # Чекаємо завершення руху
    M104 S0                             # Вимикаємо нагрів сопла
    M117 Pull done! Pull out filament.
    G90                                 # Повертаємо абсолютний режим
